<div class="row">
  <div class="col-xs-4 ">
    <h1>Add New Tweet</h1>

    <%= form_for(@tweet) do |f| %>
        <% if @tweet.errors.present? %>
          <div id="error_explanation">
            <ul>
              <% @tweet.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
         <% end %>

        <div class="form-group">
          <%= f.label :message %>
          <%= f.text_field :message, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Tweet', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>