<div class="row">
  <div class="col-xs-12">
    <h1>Profile</h1>
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to current_user.following?(@user) ? 'UnFollow' : 'Follow', follow_user_path(@user), method: :post %>
    <% end %>

    <ul>
      <li>Email : <%= @user.email %></li>
      <li>Username : <%= @user.username %></li>
    </ul>

  </div>

  <div class="col-xs-6">
    <h1>This user's Followers</h1>

    <ul>
      <% @user.followers.each do |user| %>
        <li>Name : <%= link_to user.name, user_path(user.name) %></li>
      <% end %>
    </ul>

  </div>

  <div class="col-xs-6">
    <h1>This user is Following</h1>

    <ul>
      <% @user.following.each do |user| %>
          <li>Name : <%= link_to user.name, user_path(user.name) %></li>
      <% end %>
    </ul>

  </div>
</div>